In [1]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [4]:
odds_f = pd.read_csv(r"E:\project\nba_odds_study\data\odds\bettingdata_com\processed\bettingdata_odds.csv", parse_dates=["datetime"], index_col="datetime")

In [5]:
pre_f = pd.read_csv(r"E:\project\nba_odds_study\data\predictions\machine_learning\prediction_corrected.csv")

In [6]:
odds_f.columns

Index(['Season', 'Type', 'DayString', 'TimeString', 'DayOfWeek',
       'DateTimeString', 'LastUpdated', 'Status', 'AwayTeam', 'AwayTeamScore',
       ...
       'BarstoolAwayPointSpread', 'BarstoolHomePointSpreadPayout',
       'BarstoolAwayPointSpreadPayout', 'BarstoolOverUnder',
       'BarstoolOverPayout', 'BarstoolUnderPayout', 'BarstoolHomeTeamTotal',
       'BarstoolAwayTeamTotal', 'BarstoolHomeTeamTotalPayout',
       'BarstoolAwayTeamTotalPayout'],
      dtype='object', length=143)

In [7]:
pre_f.columns

Index(['Unnamed: 0', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT',
       ...
       'BLK_RANK.1', 'BLKA_RANK.1', 'PF_RANK.1', 'PFD_RANK.1', 'PTS_RANK.1',
       'PLUS_MINUS_RANK.1', 'Home-Team-Win', 'date', 'winprob_home',
       'winprob_away'],
      dtype='object', length=112)

In [8]:
odds_f.head(5)

,Season,Type,DayString,TimeString,DayOfWeek,DateTimeString,LastUpdated,Status,AwayTeam,AwayTeamScore,...,BarstoolAwayPointSpread,BarstoolHomePointSpreadPayout,BarstoolAwayPointSpreadPayout,BarstoolOverUnder,BarstoolOverPayout,BarstoolUnderPayout,BarstoolHomeTeamTotal,BarstoolAwayTeamTotal,BarstoolHomeTeamTotalPayout,BarstoolAwayTeamTotalPayout
datetime,,,,,,,,,,,,,,,,,,,,,
2019-01-02,2019,RegularSeason,1/2/19,8:00 PM ET,Wed,1/2/19 @ 8:00 PM ET,NaN,Final,ORL,112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,2019,RegularSeason,1/2/19,10:30 PM ET,Wed,1/2/19 @ 10:30 PM ET,NaN,Final,OKC,107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,2019,RegularSeason,1/2/19,9:00 PM ET,Wed,1/2/19 @ 9:00 PM ET,NaN,Final,PHI,132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,2019,RegularSeason,1/2/19,8:00 PM ET,Wed,1/2/19 @ 8:00 PM ET,NaN,Final,DET,101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,2019,RegularSeason,1/2/19,8:00 PM ET,Wed,1/2/19 @ 8:00 PM ET,NaN,Final,MIN,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
odds_f.drop(datetime(2019, 2, 17), axis=0, inplace=True)
odds_f.drop(datetime(2022, 2, 20), axis=0, inplace=True)
odds_f.drop(datetime(2020, 2, 16), axis=0, inplace=True)
odds_f.drop(datetime(2021, 3, 7), axis=0, inplace=True)

In [10]:
odds_f_sub = odds_f[["AwayTeam", "HomeTeam","HomeTeamHasWon","ConsensusHomeMoneyLine", "ConsensusAwayMoneyLine"]].copy()

In [11]:
odds_f_sub.head()

,AwayTeam,HomeTeam,HomeTeamHasWon,ConsensusHomeMoneyLine,ConsensusAwayMoneyLine
datetime,,,,,
2019-01-02,ORL,CHI,False,102.0,-112.0
2019-01-02,OKC,LAL,False,190.0,-210.0
2019-01-02,PHI,PHO,False,150.0,-160.0
2019-01-02,DET,MEM,False,-240.0,220.0
2019-01-02,MIN,BOS,True,-250.0,230.0

In [12]:
pre_f.head()

,Unnamed: 0,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,BLK_RANK.1,BLKA_RANK.1,PF_RANK.1,PFD_RANK.1,PTS_RANK.1,PLUS_MINUS_RANK.1,Home-Team-Win,date,winprob_home,winprob_away
0,0,Philadelphia 76ers,4,2,2,0.500,48.0,34.5,79.5,0.434,...,27,26,12,22,16,17,0,2007-11-09,0.882803,0.117198
1,1,Charlotte Bobcats,4,2,2,0.500,48.0,30.5,75.5,0.404,...,1,13,29,11,9,16,1,2007-11-09,0.287085,0.712915
2,2,Boston Celtics,3,3,0,1.000,49.7,40.7,78.0,0.521,...,5,30,9,19,21,14,1,2007-11-09,0.929955,0.070045
3,3,New York Knicks,3,2,1,0.667,48.0,40.3,82.3,0.490,...,22,7,6,6,13,9,0,2007-11-09,0.332229,0.667771
4,4,Miami Heat,4,0,4,0.000,48.0,33.3,79.5,0.418,...,23,9,1,21,10,11,0,2007-11-09,0.217731,0.782269

In [55]:
def get_datetime_predict_f(date_string):
    str_list = date_string.split("-")
    month = str_list[0]
    if len(str_list[1]) == 1:
        day = "0" + str_list[1]  
    else:
        day = str_list[1]
    
    if int(month) >= 10:
        year = str_list[2]
    else:
        year = int("20" + str_list[3])
    
    return datetime(int(year), int(month), int(day))

In [56]:
pre_f.loc[:, "datetime"]  = pre_f.loc[:, "Date"].apply(get_datetime_predict_f)

In [57]:
pre_f.head()

,Date,winprob_1,winprob_2,TEAM_NAME,TEAM_NAME.1,GP,W,L,W_PCT,MIN,...,BLKA_RANK.1,PF_RANK.1,PFD_RANK.1,PTS_RANK.1,PLUS_MINUS_RANK.1,Score,Home-Team-Win,OU,OU-Cover,datetime
0,11-2-2007-08,0.022820,0.977180,Charlotte Bobcats,Milwaukee Bucks,1,1,0,1.0,48.0,...,24,30,15,26,24,201,1,200.0,1,2007-11-02
1,11-2-2007-08,0.892655,0.107345,Orlando Magic,Detroit Pistons,2,1,1,0.5,48.0,...,3,2,21,9,3,208,0,184.0,1,2007-11-02
2,11-2-2007-08,0.010967,0.989033,Indiana Pacers,Miami Heat,2,2,0,1.0,50.5,...,27,2,30,30,19,172,1,186.5,0,2007-11-02
3,11-2-2007-08,0.957431,0.042569,New Jersey Nets,Toronto Raptors,2,1,1,0.5,50.5,...,22,7,22,4,1,175,0,192.5,0,2007-11-02
4,11-2-2007-08,0.165892,0.834108,Atlanta Hawks,Dallas Mavericks,1,1,0,1.0,48.0,...,3,10,18,24,11,195,1,192.0,1,2007-11-02

In [58]:
pre_f.rename(columns={"winprob_1": "predict_away_winprob",
                   "winprob_2": "predict_home_winprob",
                   "TEAM_NAME": "home_team",
                   "TEAM_NAME.1": "away_team"}, inplace=True)

In [59]:
odds_f_sub.columns

Index(['AwayTeam', 'HomeTeam', 'HomeTeamHasWon', 'ConsensusHomeMoneyLine',
       'ConsensusAwayMoneyLine'],
      dtype='object')

In [60]:
odds_f_sub.rename(columns = {
    'AwayTeam':'away_team',
    'HomeTeam':'home_team',
    'HomeTeamHasWon':'home_win',
    'ConsensusHomeMoneyLine': 'money_line_home',
    'ConsensusAwayMoneyLine': 'money_line_away'
}, inplace=True)

In [61]:
odds_f_sub.head()

           away_team home_team  home_win  money_line_home  money_line_away
datetime
2019-01-02       ORL       CHI     False            102.0           -112.0
2019-01-02       OKC       LAL     False            190.0           -210.0
2019-01-02       PHI       PHO     False            150.0           -160.0
2019-01-02       DET       MEM     False           -240.0            220.0
2019-01-02       MIN       BOS      True           -250.0            230.0

In [64]:
odds_f_sub["away_team"].unique()

array(['ORL', 'OKC', 'PHI', 'DET', 'MIN', 'NO', 'DAL', 'ATL', 'MIA',
       'HOU', 'DEN', 'TOR', 'UTA', 'IND', 'WAS', 'BKN', 'LAC', 'NY', 'GS',
       'CHA', 'MEM', 'LAL', 'SA', 'SAC', 'CLE', 'MIL', 'CHI', 'PHO',
       'BOS', 'POR'], dtype=object)

In [65]:
pre_f["away_team"].unique()

array(['Milwaukee Bucks', 'Detroit Pistons', 'Miami Heat',
       'Toronto Raptors', 'Dallas Mavericks', 'New York Knicks',
       'Washington Wizards', 'Portland Trail Blazers', 'Denver Nuggets',
       'Philadelphia 76ers', 'Sacramento Kings', 'Los Angeles Lakers',
       'Golden State Warriors', 'New Jersey Nets', 'Orlando Magic',
       'Indiana Pacers', 'Chicago Bulls', 'Boston Celtics',
       'Seattle SuperSonics', 'Minnesota Timberwolves',
       'Charlotte Bobcats', 'Atlanta Hawks', 'New Orleans Hornets',
       'Cleveland Cavaliers', 'Utah Jazz', 'Houston Rockets',
       'Phoenix Suns', 'San Antonio Spurs', 'Los Angeles Clippers',
       'Memphis Grizzlies', 'Oklahoma City Thunder', 'Brooklyn Nets',
       'New Orleans Pelicans', 'Charlotte Hornets', 'LA Clippers'],
      dtype=object)

In [83]:
for x in odds_f_sub["away_team"].unique():
    if x not in TEAM_NAME_MAPPING.keys():
        print(x)

NO
NY
GS
SA
PHO

In [102]:
print()
TEAM_NAME_MAPPING_REVERT = {}
for key, value in TEAM_NAME_MAPPING.items():
   if value in new_dict:
       TEAM_NAME_MAPPING_REVERT[value] = key
   else:
       TEAM_NAME_MAPPING_REVERT[value]=key

In [111]:
TEAM_NAME_MAPPING = {
 'Atlanta Hawks': 'ATL',
 'Brooklyn Nets': 'BKN',
 'Boston Celtics': 'BOS',
 'Charlotte Hornets': 'CHA',
 'Chicago Bulls': 'CHI',
 'Cleveland Cavaliers': 'CLE',
 'Dallas Mavericks': 'DAL',
 'Denver Nuggets': 'DEN',
 'Detroit Pistons': 'DET',
 'Golden State Warriors': 'GS',
 'Houston Rockets': 'HOU',
 'Indiana Pacers': 'IND',
 'Los Angeles Clippers': 'LAC',
 'Los Angeles Lakers': 'LAL',
 'Memphis Grizzlies': 'MEM',
 'Miami Heat': 'MIA',
 'Milwaukee Bucks': 'MIL',
 'Minnesota Timberwolves': 'MIN',
 'New Orleans Pelicans': 'NO',
 'New York Knicks': 'NY',
 'Oklahoma City Thunder': 'OKC',
 'Orlando Magic': 'ORL',
 'Philadelphia 76ers': 'PHI',
 'Phoenix Suns': 'PHO',
 'Portland Trail Blazers': 'POR',
 'Sacramento Kings': 'SAC',
 'San Antonio Spurs': 'SA',
 'Toronto Raptors': 'TOR',
 'Utah Jazz': 'UTA',
 'Washington Wizards': 'WAS',
 'New Jersey Nets': 'NKN',
 'Seattle SuperSonics': 'SS',
 'Charlotte Bobcats': 'CB',
 'New Orleans Hornets': 'NOH',
 'LA Clippers': 'LC',
}

In [105]:
len(pre_f["away_team"].unique())

35

In [115]:
pre_f["away_team"] = pre_f["away_team"].apply(lambda x: TEAM_NAME_MAPPING[x])
pre_f["home_team"] = pre_f["home_team"].apply(lambda x: TEAM_NAME_MAPPING[x])

In [117]:
pre_f["away_team"].unique()

array(['MIL', 'DET', 'MIA', 'TOR', 'DAL', 'NY', 'WAS', 'POR', 'DEN',
       'PHI', 'SAC', 'LAL', 'GS', 'NKN', 'ORL', 'IND', 'CHI', 'BOS', 'SS',
       'MIN', 'CB', 'ATL', 'NOH', 'CLE', 'UTA', 'HOU', 'PHO', 'SA', 'LAC',
       'MEM', 'OKC', 'BKN', 'NO', 'CHA', 'LC'], dtype=object)

In [122]:
odds_f_sub

           away_team home_team  home_win  money_line_home  money_line_away
datetime
2019-01-02       ORL       CHI     False            102.0           -112.0
2019-01-02       OKC       LAL     False            190.0           -210.0
2019-01-02       PHI       PHO     False            150.0           -160.0
2019-01-02       DET       MEM     False           -240.0            220.0
2019-01-02       MIN       BOS      True           -250.0            230.0
...              ...       ...       ...              ...              ...
2022-03-27       PHI       PHO      True           -185.0            152.0
2022-03-27        GS       WAS      True            226.0           -281.0
2022-03-27       LAL        NO      True           -173.0            143.0
2022-03-27       UTA       DAL      True           -168.0            139.0
2022-03-27       CHA       BKN     False           -270.0            217.0

[4317 rows x 5 columns]

In [123]:
odds_f_sub.loc[:, "key"] = odds_f_sub.index.astype(str) + odds_f_sub["home_team"] + odds_f_sub["away_team"]
pre_f.loc[:, "key"] = pre_f["datetime"].astype(str) + pre_f["home_team"] + pre_f["away_team"]

In [126]:
odds_f_sub.set_index("key", inplace = True)
pre_f.set_index("key", inplace = True)

In [128]:
odds_f_sub.merge(pre_f, left_index=True, right_index=True, how='inner').to_csv("data.csv")

In [129]:
combine_f = odds_f_sub.merge(pre_f, left_index=True, right_index=True, how='inner')

In [132]:
(combine_f.home_team_x == combine_f.home_team_y).all()

True